html, body {
    background-color: #241f31;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#title {
    text-align: center;
    height: 10vh;
}
#all {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    height: 80vh;
    gap: 1rem;
}
#content, #left, #parser, #kb, #chain, #all {
    display: flex;
    justify-content: space-evenly;
}
#content {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
    min-width: 0;
    width: 100%;
    margin: auto;
}
#backwards {
    display: flex;
    gap: 1rem;
}
#left, #backwards, #parser, #kb, #chain, #back_img {
    flex-direction: column;
}
#left, #backwards {
    flex: 0.45;
}
#left {
    min-width: 0;
}
#chain, #parser, #kb, #back_img {
    gap: 5px;
}
#kb_txt_display, textarea, button, input::file-selector-button {
    border: 1px solid white;
    border-radius: 1em;
    background-color: #0e0e0e;
    color: white;
}
button:hover {
    background-color: #333333;
}
button:active {
    background-color: #444444;
}
textarea {
    resize: None;
}
#kb_interact {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#kb_interact, button {
    align-self: center;
}
#kb, #kb_txt_display {
    flex: 1;
    min-height: 0;
}
textarea, #kb_txt_display {
    font-size: 16px;
}
#back_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
img {
    max-width: 90%;
    max-height: 100%;
    object-fit: contain;
    flex: 1;
}
#export {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
